# Bootstrap
app/bootstrap.php.cache

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
app/config/parameters.ini

# IDE
.idea

# Mac OS X
.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Capifony
app/config/deploy.rb

# Vagrant
.vagrant

# BehatViewer
app/data

behat.yml
behat-viewer.json
build.sh

composer.phar

bin/behat
bin/doctrine
bin/doctrine.php
app/SymfonyRequirements.php

/nbproject/private/
/nbproject/*
