{% set steps = feature.getStepsHavingStatusCount() %}

{% if steps > 0 %}
    {% set passed = feature.getStepsHavingStatusCount('passed') %}
    {% set passedpcnt = ((passed / steps) * 100)|round(3) %}
{% endif %}

<div class="span4 clearfix">
    <h2>{{ feature.name }} {% if steps > 0 %}({{ passedpcnt|round }}%){% else %}(No scenarios){% endif %}</h2>

    {%
        include 'BehatViewerBundle::Components/progress-bar.html.twig'
        with {
            'passed': feature.getStepsHavingStatusCount('passed'),
            'failed': feature.getStepsHavingStatusCount('failed'),
            'skipped': feature.getStepsHavingStatusCount('skipped') + feature.getStepsHavingStatusCount('pending'),
            'undefined': feature.getStepsHavingStatusCount('undefined')
        }
    %}

    {% if steps > 0 %}
        {%
            include 'BehatViewerBundle::Components/progress-summary.html.twig'
            with {
                'class': 'pull-left',
                'passed': feature.getStepsHavingStatusCount('passed'),
                'failed': feature.getStepsHavingStatusCount('failed'),
                'skipped': feature.getStepsHavingStatusCount('skipped'),
                'pending': feature.getStepsHavingStatusCount('pending'),
                'undefined': feature.getStepsHavingStatusCount('undefined')
            }
        %}
    {% endif %}

    {% if steps > 0 %}
    <p class="pull-right">
        <a class="btn" href="{{ path('behatviewer.feature', {'id': feature.id, 'slug':feature.slug}) }}">Details &raquo;</a>
    </p>
    {% endif %}
</div>
