{% extends 'BehatViewerBundle::layout.html.twig' %}

{% block container %}
<h1 class="page-header">
    Projects
</h1>

<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            {% for project in projects %}
                <div class="span4 clearfix">
                    <h3>{{ project.user.username }}/{{ project.name }}</h3>
                    <br/>
                    {% if project.lastBuild %}
                        {%
                            include 'BehatViewerBundle::Components/progress.html.twig'
                            with {
                                'passed': project.lastBuild.stat.scenariosPassed,
                                'failed': project.lastBuild.stat.scenarios,
                                'skipped': 0,
                                'undefined': 0
                            }
                        %}
                    {% endif %}



                    <div class="btn-group pull-right">
                        <a class="btn {% if not project.lastBuild %}disabled{% endif %}" href="{{ path("behatviewer.project", {"username": project.user.username, "project": project.slug}) }}">Details &raquo;</a>
                        {% if project.user == user %}
                            <a class="btn btn-primary" href="{{ path("behatviewer.project.edit", {"username": project.user.username, "project": project.slug}) }}">Edit &raquo;</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
