{% set steps = feature.stat.steps %}

{% if steps > 0 %}
    {% set passed = feature.stat.stepsPassed %}
    {% set passedpcnt = ((passed / steps) * 100)|round(3) %}
{% endif %}

<div class="span4 clearfix well">
    <h2>{{ feature.name }} {% if steps > 0 %}({{ passedpcnt|round }}%){% else %}(No scenarios){% endif %}</h2>

    {%
        include 'BehatViewerBundle::Components/progress-bar.html.twig'
        with {
            'passed': feature.build.stat.featuresPassed,
            'failed': feature.build.stat.featuresFailed,
            'skipped': 0,
            'undefined': 0
        }
    %}

    {% if steps > 0 %}
        {%
            include 'BehatViewerBundle::Components/progress-summary.html.twig'
            with {
                'class': 'pull-left',
                'passed': feature.build.stat.featuresPassed,
                'failed': feature.build.stat.featuresFailed,
                'skipped': 0,
                'pending': 0,
                'undefined': 0
            }
        %}
    {% endif %}

    {% if steps > 0 %}
    <p class="pull-right">
        <a class="btn" href="{{ path('behatviewer.feature', {'username': project.user.username, 'project': project.slug, 'build': build.id, 'feature':feature.slug}) }}">Details &raquo;</a>
    </p>
    {% endif %}
</div>
