<footer class="container-fluid">
    <div class="row-fluid">
        <img id="logo" class="pull-left" src="{{ asset('bundles/behatviewerui/img/logo.png') }}" />
        <div class="span2">
            <ul>
                <li class="nav-header">Links</li>
                <li><a href="http://blog.behat-viewer.org" target="_blank">Blog</a></li>
                <li><a href="https://github.com/behat-viewer/BehatViewer/issues" target="_blank">Issues</a></li>
                <li><a href="https://github.com/behat-viewer/BehatViewer/wiki" target="_blank">Wiki</a></li>
            </ul>
        </div>
        <div class="span2">
            <ul>
                <li class="nav-header">Contact</li>
                <li><a href="http://twitter.com/behatviewer" target="_blank">Twitter</a></li>
                <li><a href="https://github.com/behat-viewer" target="_blank">Github</a></li>
                <li><a href="irc://irc.freenode.net/##behat-viewer" target="_blank">IRC</a></li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div class="pull-right">Behat Viewer &copy; <a href="http://www.jubianchi.fr" target="_blank">jubianchi</a> 2012</div>
    </div>
</footer>
