{% extends 'BehatViewerUiBundle::layout.html.twig' %}

{% block container %}
<div class="row-fluid">
    <form class="form-horizontal" method="post" action="{% block action %}{% endblock %}" id="configuration">
        
        <div style="width: {% block width %}100%{% endblock %}; position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1; max-width: 100%;">
            <h1 class="page-header">{% block title %}{% endblock %}</h1>
        
            {% block before %}{% endblock %}

            {{ form_errors(form) }}

            {{ form_rest(form) }}

            {% block after %}{% endblock %}

            <div class="form-actions">
                {% block extrabuttons %}{% endblock %}
                {% block buttons %}
                    <input class="btn btn-success" type="submit" value="{% block submit %}Save changes{% endblock %}"/>
                {% endblock %}
            </div>
        </div>

    </form>
</div>
{% endblock %}
