{% extends 'BehatViewerUiBundle::layout.form.html.twig' %}

{% block notification %}
    {% if success %}
        <div class="alert alert-block alert-success" data-rel="notification" data-type="success">User profile was successfully saved.</div>
    {% endif %}
{% endblock %}

{% block action %}{{ path('behatviewer.admin.user.edit', {'username': user.username}) }}{% endblock %}

{%block title %}
    <img data-rel="avatar" style="width: 48px; height: 48px" class="gravatar" src="{{ user.email|gravatar(48)}}" />
    Edit user <span data-rel="username">{{ user.username }}</span>
{% endblock %}

{% block extrabuttons %}
    <a class="pull-right btn" href="{{ path('behatviewer.admin.user') }}">Back to users list</a>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        JSC.require(
            ['behat-viewer/profile'],
            function() {
                $(function() {
                    app.controller.current(new ProfileController('#container'));
                });
            }
        );
    </script>
{% endblock %}
