<ul class="nav nav-tabs">
    {% for tab in tabs %}
        {% if not tab.show is defined or tab.show == true %}
            <li class="{{ tab.class is defined ? tab.class : "" }}{% if tab.active %} active{% endif %}">
                <a href="{{ tab.href }}">{{ tab.label }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
